/*Main part of the page*/

main{
    background-color: #f0f6fc;
}

.heading {
    text-align: center;
    background-color: #0051e7;
    font-size: 25px;
    padding: 30px;
    margin: auto;
    color: #ffffff;
}

section{
    padding: 40px;
    margin: auto 40px;
}


.sec1{
    display: flex;
}

.sec1 .founder h2{
    font-size: 30px;
    letter-spacing: 2px;
}

@media(max-width: 770px) {
    .sec1 {
        display: block;
    }
}

p {
    margin-bottom: 20px;
}
