/*Main part of the page*/

main{
    background-color: #f0f6fc;
}

.heading {
    text-align: center;
    background-color: #acc7fa;
    font-size: 25px;
    padding: 30px;
    margin: auto;
}

section{
    padding: 40px;

}


.sec1{
    display: flex;
}

.sec1 .founder h2{
    font-size: 25px;
}
