/*Main part of the page*/

main{
    background-color: #ffffff;
}

.heading {
    text-align: center;
    background-color: #0051e7;
    font-size: 22px;
    padding: 30px;
    margin: auto;
    color: #ffffff;
}

.heading h1{
    font-weight: normal;
}