/*Main part of the page*/

main{
    background-color: #ffffff;
}

.heading {
    text-align: center;
    background-color: #0051e7;
    font-size: 22px;
    padding: 30px;
    margin: auto;
    color: #ffffff;
}

.heading h1{
    font-weight: normal;
}

section{
    padding: 40px;
    margin: auto 55px;
}

.sec1{
    display: flex;
    margin-bottom: 60px;
}


.proprietress-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    height: 600px;
    margin-right: 70px;
}

.founder{
    align-self: center;
    width: 60%;
}

.proprietress-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-details{
    padding: 15px;
}

.founder h2{
    font-size: 30px;
    letter-spacing: 2px;
}

p {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 15px;
}

#containing {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#music-img {
    width: 100%;
    height: 100%;
    background-image: url(../images/gallery-images/music.jpg);
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

#content {
    position: relative;
    color: black;
    text-align: center;
    padding: 40px;
}

#content p{
    padding-top: 20px;
    text-align: center;
    font-family: montserrat;
}

@media(max-width: 770px) {
    .sec1 {
        flex-direction: column;
    }
    .proprietress-card, .founder{
        width: 100%;
        text-align: center;
    }
    .card-details p{
        text-align: center;
    }
    section{
        padding: 10px;
        margin: auto 2px;
    }
}
